body, title {
	font-size: 15px;
	font-family: serif;
	color: #400a34;
}

body {
	/*background color if the browser don't take the linear-gardient*/
	background: #466368;
	/*the linear-gardient here*/
	background: linear-gradient(#D9721B, #DDB611);
/*
	background-image: url("https://66.media.tumblr.com/6bbd224414a5453121a7ef49e97d43fd/tumblr_oxyko2zfNE1wd2c69o3_500.jpg");
	background-repeat: no-repeat;
	background-size: cover;
*/
}

p {
	word-spacing: normal;
}

body {
	max-width:90%;
	margin: auto;
}

a {
	font-style: bold;
	text-decoration:none;
	color:#87edda;
}

.hover {
	font-style: italic;
	color::#a1ffe3;
}

.Visited {
	font-style:italic;
	color:#e3a529;
}

q {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:50%;
	font-size: 160%;
	font-style: italic;
	background-color: #f5f5f0;
	border-inline-start-color: unset;
	border-left: inset 3px;
	border-color: firebrick;
	box-sizing: border-box;
	padding: 30px;
	margin-top: 80px;
	margin-bottom:80px;
}
/* coloration of farmer*/
.farmer{
	border-inline-start-color: unset;
	border-left: inset 3px;
	border-color: #eb38c4;
}
/*coloration of villagers*/
.them {
	border-block-start-color: unset;
	border-left: inset 3px;
	border-color: #2ce887;
}

.date {
	background-color: yellow;
}

.good{
	color:green;
}

.bad{
	color:red;
}

.version1 {
	background-color:#e3e3e3;
}

.version2 {
	background-color:white;
}

.nice {
	background-image: url("/home/user/Sprint-Html-Css/progressive-enhancement/img/bien.png");
	background-repeat: no-repeat;
	background-size: 18px;
	width:50%;
	padding-right: 15px;
	background-position:300px;
}

.mean {
	background-image: url("/home/user/Sprint-Html-Css/progressive-enhancement/img/mal.png");
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: 260px;
}

.cat {
	background-image: url("/home/user/Sprint-Html-Css/progressive-enhancement/img/chat.png");
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: 300px;
}

#doughnut {
	width:400px;
	height:300px;
}

#antifire {
	width:400px;
	height:300px;
}
